// ========================   B R E A C K P O I N T  ======================== //

	$BP1 : 480px;
	$BP2 : 768px;
	
// ========================   C O L O R S  ======================== //

	$body-bg-color  : rgb(245, 245, 245);
	$body-text-color: #00465b;

	$a-color	   : rgb(20, 110, 151);
	$a-color-hover : lighten($a-color, 10%);
