.btn {
    padding: 0.5rem 1rem;
    font-weight: 900;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.btnGris {
    background: #555;
    color: #fff;
}


.btnOrange {
    background: rgb(235, 176, 16);
    color: rgb(0, 0, 0);
}