@font-face {
    font-family: 'Anton';
    src: url('../font/AntonR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-R';
    src: url('../font/LatoR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-B';
    src: url('../font/LatoB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: 'Anton';
}

p {
    font-family: 'Lato-R';
}

a {
    color: $a-color;

    &:hover {
        color: $a-color-hover;
    }
}